.content {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 25px;
    border-radius: 5px;
}

.content .idea {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.content .idea p {
    width: 60%;
}

.content .idea img {
    width: 200px;
}


.content .benefits {
    margin: 50px 0;
    display: flex;
}

.content .benefits .row {
    width: 50%;
    height: 100%;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content .benefits .row .col{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}