.nav-bar {
    padding: 10px;
    display: flex;
    width: 100%;
    align-self: center;
}

.nav-bar a {
    display: flex;
    width: 100px;
    margin-bottom: 1px;
    justify-content: center;
    text-decoration: none;
    color: white;
}

.nav-bar a:hover {
    border-bottom: 1px solid white;
    margin-bottom: 0;
}