* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.home-title {
    width: 100%;
    height: 300px;
    line-height: 300px;
    display: flex;
    justify-content: center;
    background: #25b37e;
    color: white;
}

footer {
    color: white;
    background: #1a9c6b;    
    padding: 10px;
    align-content: center;
}
